server {
    listen 80;
    root /var/www/drone-pilot-upload/frontend/build;
    index index.html;
    client_max_body_size 100M;
    location / {
        try_files $uri $uri/ =404;
    }
    location /imgproc {
        include proxy_params;
        proxy_pass http://localhost:5000;
    }
}