*/node_modules
*/.pnp
*/.pnp.js

# testing
*/coverage
*/.vscode/*

# production
build/

# misc
.DS_Store
*/.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*/package-lock.json

*/.idea
.idea

pyproj

backend/config.py
backend/tmp/
backend/__pycache__
backend/images/
backend/flights/
backend/.ipynb_checkpoints/
backend/venv
*/*.ipynb
backend/logs/*

ortho_processing/drone_ortho_intel.tar
ortho_processing/__pycache__
