PassengerEnabled on
PassengerAppEnv production
PassengerBaseURI /pun/sys/drone-pilot-upload
PassengerMaxRequestTime 6000
RewriteEngine On
RewriteRule ^/?frontend(/.*)?$ /pun/sys/drone-pilot-upload/frontend$1 [PT]
